body {
    display: flex;
    flex-direction: column;
    background-color: #f6e7d5;
    width: 50%;
    margin: 0 25% 0;
    font-family: Georgia, serif;
    font-size: 1rem;
    color: black;
}

.head__info {
    display: flex;
    flex-direction: column;
    background-color:  rgb(238, 191, 161);
    font-size: 1.725rem;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    margin: 1vh 0 1vh;
}

.navigation {
    display: flex;
    flex-direction: row;
    font-size: 1.725rem;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin: 1vh 0 0vh;
    justify-content: space-around;
    background-color: #eebfa1;
    padding: 1%
}

.navigation__projects-button,
.navigation__home-button {
    border-radius: 10px;
    color: black;
    font-size: calc( (100vw - 480px)/(1500 - 480) * (17 - 8) + 8px);
    text-decoration: none;
    background-color: #e3a686;
    padding: 1%;
}

.navigation__projects-button:hover,
.navigation__home-button:hover {
    background-color: #f5e0c6;
    cursor: pointer;
}

.about-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me__image {
    align-self: center;
    justify-self: center;
    order: 2;
    width: 20vw;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #e3ac8d;
    box-shadow: 2px 1px 5px #999999;
    margin-right: 5%;
}

.about-me__motivation{
    order: 1;
    width: 35%;
    margin-top: 7vh;
}

.about-me__quote{
    order: 3;
    margin-top: 2vh;
}

.about-me__story{
    order: 4;
    margin-top: 2vh;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main__skills {
    font-weight: bold;
}

.main__skills__list {
    font-weight: normal;
}

.main__education {
    font-weight: bold;
}

.main__education__list {
    font-weight: normal;
}

.main__experience {
    font-weight: bold;
}

.main__experience__list {
    font-weight: normal;
}

.main__experience__algorithm{
    font-size: 0.875rem;
}

.main__table__header{
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 4vh;
}

.main__table{
    display: grid;
    justify-self: center;
    grid-template-columns: minmax(100px, 400px) minmax(150px, 400px) minmax(150px, 400px);
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    max-width: 1200px;
    min-width: 400px;
    margin-top: 1vh;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #e3a686;
    text-align: left;
    font-weight: 600;
    font-size: 1.3rem;
    color: #000000;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    background: #eebfa1;
}

tr:nth-child(even) td {
    background: #e3ac8d;
}

.main__competitions {
    margin-top: 5vh;
    font-weight: bold;
}

.main__competitions__list {
    font-weight: normal;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 191, 161);
    border-radius: 10px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    height: 75px;
    padding: 1%;
}

.footer__contacts-list{
    margin-top: 2vh;
}

.footer__contacts__button {
    background-color: #e3a686;
    border-radius: 10px;
    color: black;
    padding: 5px 10px;
    font-size: calc( (100vw - 480px)/(1500 - 480) * (17 - 8) + 8px);
    text-decoration: none;
}

.footer__contacts__button:hover {
    background-color: #f5e0c6;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .main__experience__algorithm{
        display: none;
    }
}

@media screen and (max-width: 975px){

    .footer__contacts-list{
        display: flex;
        flex-direction: column;
    }

    .footer__contacts__button{
        font-size: 0.8rem;
        width: 30vw;
        align-self: center;

    }

    footer{
        height: 35vh;
    }

    .about-me__image{
        order: 1;
        width: 33vw;
        height: 100%;
        margin-right: 5vw;
    }

    .about-me__motivation{
        width: 100%;
    }

    .about-me__quote{
        margin-left: 10%;
    }
}

@media screen and (max-width: 600px){
    .main__table{
        display: none;
    }

    .main__table__header{
        display: none;
    }
}