body {
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    background-color: rgba(238, 191, 161, 0.58);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.main__skills {
    font-weight: bold;
}

.main__skills__list {
    font-weight: normal;
}

.main__education {
    font-weight: bold;
}

.main__education__list {
    font-weight: normal;
}

.main__experience {
    font-weight: bold;
}

.main__experience__list {
    font-weight: normal;
}

.main__competitions {
    font-weight: bold;
}

.main__competitions__list {
    font-weight: normal;
}

.head__info {
    background-color:  rgba(238, 191, 161, 0.58);
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.head__info__image {
    display:inline-block;
    /*margin:auto;*/
    width: 250px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 2px 1px 5px #999999;
    float: right;
    margin: 10px 0 10px 10px;
}